
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloWorld</title>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/zui-1.4.0-dist/dist/js/zui.js"></script>
    <link href="~/Scripts/zui-1.4.0-dist/dist/css/zui.css" rel="stylesheet" /> 
</head>
<body>
    <h1>Hello World！</h1>

    <i class="icon icon-star icon-4x"></i>
    <i class="icon icon-flag icon-rotate-180 icon-4x"></i>
    <i class="icon icon-spin icon-spinner-snake icon-4x"></i>
</body>
</html>
