
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/zui-1.4.0-dist/dist/js/zui.js"></script>
    <link href="~/Scripts/zui-1.4.0-dist/dist/css/zui.css" rel="stylesheet" /> 
    <link href="~/Scripts/zui-1.4.0-dist/dist/css/normalize.css" rel="stylesheet" />
    <link href="~/Contents/Index.css" rel="stylesheet" />
</head>
<body>
    
        <div id="head" > 
                    <div class="logo">
                        <div id="head-title">YmNets.cnblogs.com/</div>
                        <div id="head-subtitle">MVC4+EF5.0+EasyUI</div>
                    </div>      
        </div>
        <div  id="center">
            <div  id="menu">
                <i class="icon icon-spin icon-spinner-indicator"></i>载入中
            </div>
            <div  id="content">
                    content
            </div>
        </div>
        <div   id="foot">
           
        </div>
  

</body>
</html>
