<link rel="stylesheet" type="text/css" href="~/Content/Huploadify.css" />
<script type="text/javascript" src="~/Scripts/jquery-2.2.0.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.Huploadify.js"></script>

<script>
$(function(){
	$('#upload').Huploadify({
		auto:true,
		fileTypeExts:'*.jpg;*.png;*.exe,*.ico,*.mov',
		multi:true,
		formData:{key:123456,key2:'vvvv'},
		fileSizeLimit: 2147483647,
		showUploadedPercent:true,//是否实时显示上传的百分比，如20%
		showUploadedSize:true,
		removeTimeout:9999999,
		uploader: '/Home/Uploadify',
		onUploadStart:function(){
			//alert('开始上传');
			},
		onInit:function(){
			//alert('初始化');
			},
		onUploadComplete:function(){
			//alert('上传完成');
			},
		onDelete:function(file){
			console.log('删除的文件：'+file);
			console.log(file);
		}
		});
	});
</script>

<div id="upload"></div>